#coffee-header {
    display: flex;
    justify-content: center;
    background: #e4cea8;
    opacity: .8;
    height: 10rem;
    padding: 1rem;
  }
  /* test */

  #coffee-header img {
    height: 10rem;
    width: auto;
    mix-blend-mode: multiply;
  }