body {
    margin: 0;
    font-family: monospace;
  }
#coffee-header {
    display: flex;
    justify-content: center;
    background: #e4cea8;
    opacity: .8;
    height: 10rem;
    padding: 1rem;
  }
  /* test */

  #coffee-header img {
    height: 10rem;
    width: auto;
    mix-blend-mode: multiply;
  }

  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e4cea8
  }

button {
    position: absolute, bottom center;
    height: 3rem;
    width: 10rem;
    text-align: center;
    justify-self: center;
}

#coffee-collection p:nth-of-type(1) {
    height: 150px;
    justify-self: center;
}

  #coffee-collection p:nth-of-type(2) {
    height: 50px;
    justify-self: center;
}

#coffee-collection button{
    height: 25px;
    width: 100px;
}